<?xml version="1.0" encoding="utf-8"?>

<jnlp spec="1.0" href="${config.jnlpFileName}">

    <information>

        <title>${config.title}</title>
        <vendor>${config.vendor}</vendor>
        #if(${config.description})<description>${config.description}</description>#end
        #if(${config.homepage})<homepage href="${config.homepage}"/>#end
        #if(${config.icon})<icon href="${config.icon}"/>#end
        #if(${config.splashImage})<icon kind="splash" href="${config.splashImage}"/>#end
        #if(${config.offlineAllowed})<offline-allowed/> #end

    </information>

    <resources>
        <j2se version="${config.jreVersion}" #if(${config.jreArgs}) java-vm-args="${config.jreArgs}" #end/>

        #if(${config.jfxVersion})#**#
        <jfx:javafx-runtime version="${config.jfxVersion}" #if(${config.jfxFallbackUrl})href="${config.jfxFallbackUrl}"#end/>
        #end#**#

        #foreach($jarResource in $config.jarResources)#**#
        <jar href="${jarResource}"/>
        #end#**#
    </resources>

    #if(${config.requiresAllPermissions})#**#
        <security>
            <all-permissions/>
        </security>
    #end#**#

    <application-desc main-class="${config.mainClass}"/>

</jnlp>