<html>

<head>
    <script src="http://java.com/js/dtjava.js"></script>
    <script>
        function launchApplication() {
            dtjava.launch(            {
                        url : '${app.jnlpFileName}'
                    },
                    {
                        javafx : '${app.jfxVersion}'
                    },
                    {}
            );
            return false;
        }
    </script>
</head>

<body>

    <h1>${app.title}</h1>
    <p>by ${app.vendor}</p>

    #if(${app.description})
        <p>${app.description}</p>
    #end

    <p>
        <a href="#" onclick="return launchApplication()">Click here to launch</a>
    </p>

</body>

</html>